@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: 'Heuristica Regular';
	font-style: normal;
	font-weight: normal;
	src: url(./fonts/heuristica/Heuristica-Regular.woff) format('woff');
}


@font-face 
{
	font-family: 'Heuristica Bold';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/heuristica/Heuristica-Bold.woff') format('woff');
}


@font-face {
	font-family: "Heuristica Bold Italic";
	font-style: italic;
	font-weight: bold;
	src: url('./fonts/heuristica/Heuristica-BoldItalic.woff') format('woff');
}



@font-face {
	font-family: 'Heuristica Italic';
	font-style: italic;
	font-weight: normal;
	src: local('Heuristica Italic'), url('./fonts/heuristica/Heuristica-Italic.woff') format('woff');
}

html{
	background-color: white;
}

h1{
	color: #708090;
}
h2{
}

p{
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 1.5;
}